// header area start
.parent-nav .badge {
  color: var(--color-primary) !important;
  position: absolute;
  top: 6px;
  right: -10px;
  font-size: 11px;
}
.header-top-area {
  background: var(--color-primary);
  padding: 10px 0;

  p.disc {
    margin: 0;
    font-size: 16px;
    font-weight: 600px;
    color: #fff;

    @media #{$smlg-device} {
      font-size: 13px;
    }
  }
}

.search-header-area-main {
  padding: 31px 0;
  border-top: 1px solid #e2e2e2;

  @media #{$md-layout} {
    display: none;
  }

  @media #{$sm-layout} {
    display: none;
  }
}

.rts-header-nav-area-one {
  @media #{$md-layout} {
    background: #ffffff !important;
    border-bottom: 1px solid #e2e2e2;
  }

  @media #{$sm-layout} {
    background: #ffffff !important;
    border-bottom: 1px solid #e2e2e2;
  }
}

.after-md-device-header {
  display: none !important;
  background: #fff !important;

  @media #{$md-layout} {
    display: flex !important;
  }

  @media #{$sm-layout} {
    display: flex !important;
  }
}

.logo-search-category-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: space-between;

  @media #{$smlg-device} {
    gap: 10px;
  }

  @media #{$md-layout} {
    gap: 20px;
    padding: 12px 0;
  }

  @media #{$sm-layout} {
    gap: 20px;
    padding: 12px 0;
  }

  @media #{$large-mobile} {
    gap: 10px;
  }

  .actions-area {
    display: flex;
    align-items: center;
    gap: 15px;
    display: none;

    @media #{$md-layout} {
      display: flex;
    }

    @media #{$sm-layout} {
      display: flex;
    }

    & > div {
      border-radius: 6px;
      border: 1px solid #e2e2e2;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 26px;
      gap: 10px;
      font-weight: 500;
      color: #2c3c28;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.06);

      @media #{$sm-layout} {
        @media #{$sm-layout} {
          height: 40px;
          padding: 0;
          width: 40px;
        }
      }

      @media #{$large-mobile} {
        border: none;
      }
    }
  }

  .category-search-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    @media #{$md-layout} {
      display: none;
    }

    @media #{$sm-layout} {
      display: none;
    }

    .category-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 50px;
      border-radius: 5px;
      background: #f3f4f6;
      padding: 15px 16px;
      cursor: pointer;
      font-weight: 600;
      color: #2c3c28;
      position: relative;
    }

    .search-header {
      flex-basis: 70%;
      position: relative;

      @media #{$md-layout} {
        display: none;
      }

      @media #{$sm-layout} {
        display: none;
      }

      input {
        width: 802px;
        height: 50px;
        background: #f3f4f6;
        border: 1px solid transparent;
        border-radius: 5px;
        padding-right: 150px;

        @media #{$extra-device} {
          width: 600px;
        }

        @media #{$laptop-device} {
          width: 400px;
        }

        @media #{$smlg-device} {
          width: 400px;
        }

        @media #{$md-layout} {
          width: 350px;
        }

        &:focus {
          border: 1px solid var(--color-primary);
        }
      }

      a.rts-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
      }

      button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
      }
    }
  }
}

.accont-wishlist-cart-area-header {
  display: flex;
  align-items: center;
  gap: 10px;

  .btn-border-only {
    span.text {
      @media #{$smlg-device} {
        display: none !important;
      }
    }

    .text {
      @media #{$smlg-device} {
        display: none !important;
      }
    }
  }

  .wishlist {
    position: relative;
    i {
      position: relative;
    }

    span.number {
      position: absolute;
      left: 33px;
      top: 2px;
      height: 20px;
      width: 20px;
      background: var(--color-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #fff;
      transition: 0.3s;
    }
  }

  .cart {
    position: relative;
    i {
      position: relative;
    }
    span.number {
      position: absolute;
      left: 33px;
      top: 2px;
      height: 20px;
      width: 20px;
      background: var(--color-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #fff;
      transition: 0.3s;
    }
  }
}

a.over_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.category-hover-header
  .category-sub-menu.card-number-show
  .cart-item-1
  .img-name
  .title {
  @media #{$large-mobile} {
    font-size: 14px;
  }
}

.category-hover-header {
  position: relative;
  list-style: none;
  transition: 0.3s !important;
  cursor: pointer;

  img {
    transition: 0.3s;
  }

  &.cart {
    &:hover {
      .category-sub-menu {
        i {
          color: #000 !important;
        }

        span {
          color: #000;
        }

        .number {
          color: #000000;
        }
      }
    }
  }

  .category-sub-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    // left: 0;
    visibility: hidden;
    opacity: 0;
    background: var(--color-white);
    transform: translateZ(0) translateY(30px);
    border-radius: 4px;
    transition: all 0.2s;
    box-shadow: 0px 7px 18px #1810100d;
    display: flex;
    flex-direction: column;
    // min-width: 250px;
    padding: 10px 0;
    z-index: 10;
    list-style: none;
    transition: 0.2s !important;

    &.card-number-show {
      right: 0 !important;
      left: auto;
      padding: 56px;
      min-width: 522px;
      @media #{$sm-layout} {
        right: -100px !important;
      }
      @media #{$large-mobile} {
        padding: 15px;
        min-width: 292px;
        right: -100px !important;
      }

      .cart-item-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        border-bottom: 1px solid #e2e2e2;
        position: relative;

        &.border-top {
          border-top: 1px solid #e2e2e2;
        }

        i::after {
          display: none;
          color: #000;
        }

        .img-name {
          display: flex;
          align-items: center;
          gap: 15px;

          .thumbanil {
            max-width: 75px;
          }

          .details {
            .title {
              margin-bottom: 7px;
              font-weight: 600;
            }

            .number {
              font-size: 12px;
              font-weight: 400;
              display: flex;
              gap: 5px;
              align-items: center;

              i {
                font-size: 12px;
              }

              span {
                color: red;
                font-weight: 500;
              }
            }
          }
        }

        .close-c1 {
          height: 20px;
          width: 20px;
          border: 1px solid #e2e2e2;
          background: #f3f4f6;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 25px;
          right: 0;
          position: absolute;

          @media #{$large-mobile} {
            top: -1px;
          }

          i {
            font-size: 12px;
          }
        }
      }

      .sub-total-cart-balance {
        .top {
          display: flex;
          align-items: center;
          margin-top: 15px;
          margin-bottom: 10px;
          justify-content: space-between;
        }

        .single-progress-area-incard {
          margin-bottom: 15px;
        }

        .progress-bar {
          background: var(--color-primary);
        }

        .button-wrapper {
          margin-top: 30px;
          display: flex;
          gap: 25px;

          @media #{$large-mobile} {
            gap: 10px;
          }

          a {
            display: block;
            width: 100%;
            max-width: 100%;
            text-align: center;
            transition: 0.3s;

            &.border-only {
              border: 1px solid var(--color-primary);
              background: transparent;
              text-align: center;
              color: #000;

              &:hover {
                background: var(--color-primary);
                color: #fff;
              }
            }
          }
        }
      }
    }

    li {
      margin: 0;

      a {
        padding: 12px 20px;
        display: flex;
        align-items: center;
        transition: 0.3s;

        span {
          color: #2c3c28;
          font-weight: 600;
          transition: 0.3s;
        }

        img {
          margin-right: 16px;
          transition: 0.3s;
        }

        i {
          margin-left: auto;
          margin-right: 0;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: rgba(98, 157, 35, 0.12);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2c3c28;
          font-size: 10px;
          transition: 0.3s;
        }

        &:hover {
          background: var(--color-primary);
          color: white;

          span {
            color: #fefffd;
            font-weight: 600;
          }

          i {
            background: #fff;
            color: #2c3c28;
          }

          // img {
          //   filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
          //     saturate(0%) hue-rotate(46deg) brightness(111%) contrast(101%);
          // }
        }
      }
    }
  }

  &:hover {
    background: var(--color-primary) !important;
    color: #fff !important;

    // img.parent {
    //   filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(0%)
    //     hue-rotate(46deg) brightness(111%) contrast(101%);
    // }

    .category-sub-menu {
      visibility: visible;
      opacity: 1;
      transform: translateZ(0) translateY(0);
    }
  }
}

.rts-header-nav-area-one {
  background: #f3f4f6;
  border-bottom: 1px solid #e2e2e2;

  .nav-area {
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        padding: 0;

        a {
          padding: 22px 20px;
          display: block;
          font-weight: 600;
          color: #2c3c28;
          transition: 0.3s;
          position: relative;
          &:hover {
            color: var(--color-primary) !important;
          }
        }

        &.parent:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.nav-and-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media #{$md-layout} {
    display: none;
  }

  @media #{$sm-layout} {
    display: none;
  }
}

.header--sticky {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  box-shadow: none;
  z-index: 8;
  margin: auto;
  align-items: center;
  left: 0;
  border-radius: 0;
  transition: none;
  top: 0;
  transform: translateY(0);
}

.header--sticky.sticky {
  position: fixed !important;
  top: 30px;
  animation: stickyanimations 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: block;
  width: 100%;
  box-shadow: 0px 7px 18px #1810100d;
  background: #fff;
  z-index: 999;
  border: none !important;
  max-width: 100%;
}

.main-wrapper-action-2 {
  gap: 10px;
}

.rts-header-nav-area-one.header-two {
  .logo-search-category-wrapper {
    display: none;

    @media #{$md-layout} {
      display: flex;
    }

    @media #{$sm-layout} {
      display: flex;
    }
  }
}

.nav-area {
  li {
    a.active.sub-b {
      color: var(--color-primary) !important;
    }
  }
}

.nav-area {
  li {
    a.active {
      color: var(--color-primary) !important;
    }
  }
}

#category-active-four {
  .submenu {
    list-style: none;
    padding-left: 0;

    li {
      a {
        padding-left: 70px;
        color: var(--color-heading-1);
        font-weight: 500 !important;
        position: relative;

        &::after {
          content: "\f054";
          font-family: var(--font-three);
          top: 50%;
          transform: translateY(-50%);
          left: 40px;
          right: auto;
          position: absolute;
          font-size: 16px;
        }

        &.mobile-menu-link {
          padding: 7px 10px 7px 70px;
        }

        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}
